In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
df = pd.read_excel('C:/Users/admin/Desktop/Big_data/Pandas/korean-idol.xlsx')

In [5]:
df

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

<h2> 1. fillna(): NaN 값을 채워주는 함수

In [6]:
#'키' column의 NaN 값 확인
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [24]:
#NaN 값에 -1 대입
#inplace=True : 변경 후, 저장하는 명령어

df['키'] = df['키'].fillna(0) # =df['키'].fillna(0, inplace=True)

In [25]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       0.0
8     179.2
9     167.1
10      0.0
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [26]:
#키 값이 변경된 것을 확인
df

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    0.0   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    0.0   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

<h2> 2. row, column 지우기

<h3> 1) dropna(): NaN 값이 있는 row를 삭제

In [39]:
#index 2 번이 삭제되는 것을 볼 수 있음.
#(axis=0) 또는 (): NaN이 포함된 row 삭제
#(axis=1): NaN이 포함된 column 삭제
#how='any': 하나라도 NaN이 있으면 드랍
#how='all': 모두 NaN이면 드랍
df.dropna(axis=0, how='any')

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    0.0   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    0.0   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [38]:
df.dropna(axis=1, how='all')

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    0.0   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    0.0   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

In [52]:
#row=10에 NaN 넣기
df.iloc[10] = np.NaN
df

      이름     그룹      소속사   성별       생년월일      키  혈액형     브랜드평판지수
0     지민  방탄소년단      빅히트   남자 1995-10-13  173.6    A  10523260.0
1   지드래곤     빅뱅       YG   남자 1988-08-18  177.0    A   9916947.0
2   강다니엘    NaN      커넥트   남자 1996-12-10  180.0    A   8273745.0
3      뷔  방탄소년단      빅히트   남자 1995-12-30  178.0   AB   8073501.0
4     화사    마마무      RBW   여자 1995-07-23  162.1    A   7650928.0
5     정국  방탄소년단      빅히트   남자 1997-09-01  178.0    A   5208335.0
6     민현   뉴이스트     플레디스   남자 1995-08-09  182.3    O   4989792.0
7     소연    아이들       큐브   여자 1998-08-26    NaN    B   4668615.0
8      진  방탄소년단      빅히트   남자 1992-12-04  179.2    O   4570308.0
9    하성운     핫샷  스타크루이엔티   남자 1994-03-22  167.1    A   4036489.0
10   NaN    NaN      NaN  NaN        NaT    NaN  NaN         NaN
11   차은우   아스트로     판타지오   남자 1997-03-30  183.0    B   3506027.0
12    백호   뉴이스트     플레디스   남자 1995-07-21  175.0   AB   3301654.0
13    JR   뉴이스트     플레디스   남자 1995-06-08  176.0    O   3274137.0
14    슈가  방탄소년단      빅히트   남자 1993-03-09  174.0    O   2925442.0

In [67]:
df.dropna(axis=0, how='all')

      이름     그룹      소속사  성별       생년월일      키 혈액형     브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260.0
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947.0
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745.0
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501.0
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928.0
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335.0
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792.0
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615.0
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308.0
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489.0
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027.0
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654.0
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137.0
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442.0

<h3> 2) drop_ duplicates(): 중복 데이터 제거

In [55]:
#중복 데이터 제거 drop.duplicates(keep='first'/'last')
#first(default): 처음것을 살림 / last: 마지막 것을 살림
df['키'].drop_duplicates(keep='last')

0     173.6
1     177.0
2     180.0
4     162.1
5     178.0
6     182.3
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [68]:
df.drop_duplicates('그룹', keep='last')

      이름     그룹      소속사   성별       생년월일      키  혈액형    브랜드평판지수
1   지드래곤     빅뱅       YG   남자 1988-08-18  177.0    A  9916947.0
4     화사    마마무      RBW   여자 1995-07-23  162.1    A  7650928.0
7     소연    아이들       큐브   여자 1998-08-26    NaN    B  4668615.0
9    하성운     핫샷  스타크루이엔티   남자 1994-03-22  167.1    A  4036489.0
10   NaN    NaN      NaN  NaN        NaT    NaN  NaN        NaN
11   차은우   아스트로     판타지오   남자 1997-03-30  183.0    B  3506027.0
13    JR   뉴이스트     플레디스   남자 1995-06-08  176.0    O  3274137.0
14    슈가  방탄소년단      빅히트   남자 1993-03-09  174.0    O  2925442.0

<h3> 3) drop(): row/column 지정하여 제거

In [62]:
#column 제거하기
df.drop(['그룹','소속사'], axis=1)

      이름   성별       생년월일      키  혈액형     브랜드평판지수
0     지민   남자 1995-10-13  173.6    A  10523260.0
1   지드래곤   남자 1988-08-18  177.0    A   9916947.0
2   강다니엘   남자 1996-12-10  180.0    A   8273745.0
3      뷔   남자 1995-12-30  178.0   AB   8073501.0
4     화사   여자 1995-07-23  162.1    A   7650928.0
5     정국   남자 1997-09-01  178.0    A   5208335.0
6     민현   남자 1995-08-09  182.3    O   4989792.0
7     소연   여자 1998-08-26    NaN    B   4668615.0
8      진   남자 1992-12-04  179.2    O   4570308.0
9    하성운   남자 1994-03-22  167.1    A   4036489.0
10   NaN  NaN        NaT    NaN  NaN         NaN
11   차은우   남자 1997-03-30  183.0    B   3506027.0
12    백호   남자 1995-07-21  175.0   AB   3301654.0
13    JR   남자 1995-06-08  176.0    O   3274137.0
14    슈가   남자 1993-03-09  174.0    O   2925442.0

In [66]:
#index 번호로 row 제거
df.drop([3,5], axis=0)

      이름     그룹      소속사   성별       생년월일      키  혈액형     브랜드평판지수
0     지민  방탄소년단      빅히트   남자 1995-10-13  173.6    A  10523260.0
1   지드래곤     빅뱅       YG   남자 1988-08-18  177.0    A   9916947.0
2   강다니엘    NaN      커넥트   남자 1996-12-10  180.0    A   8273745.0
4     화사    마마무      RBW   여자 1995-07-23  162.1    A   7650928.0
6     민현   뉴이스트     플레디스   남자 1995-08-09  182.3    O   4989792.0
7     소연    아이들       큐브   여자 1998-08-26    NaN    B   4668615.0
8      진  방탄소년단      빅히트   남자 1992-12-04  179.2    O   4570308.0
9    하성운     핫샷  스타크루이엔티   남자 1994-03-22  167.1    A   4036489.0
10   NaN    NaN      NaN  NaN        NaT    NaN  NaN         NaN
11   차은우   아스트로     판타지오   남자 1997-03-30  183.0    B   3506027.0
12    백호   뉴이스트     플레디스   남자 1995-07-21  175.0   AB   3301654.0
13    JR   뉴이스트     플레디스   남자 1995-06-08  176.0    O   3274137.0
14    슈가  방탄소년단      빅히트   남자 1993-03-09  174.0    O   2925442.0